@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 148px;; margin-top: 70px; background:url("../images/case_banner_m.png")center center no-repeat; margin-bottom: 30px;}


	.appin_title {text-align: center; font-size: 14px; padding-bottom: 2px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 16px;color:#151515; padding-bottom: 20px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 20px;}


	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 15px; line-height: 1.8; margin: 20px 0 0 0;}
	.products .before {position: relative; margin-bottom: 10px;}
	.products .after {position: relative; width: 100%;}
	.img2_title {width: 100%; padding: 10px; background: #f7f7f7;  font-family: 'NotoSansKR-Medium';margin: 0 auto; font-size: 14px;border-right: 1px solid #ddd;border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
	.products .img #img {width:100%;}
	.after01 {margin-bottom:0.5%;}
	.after02 {margin-bottom:0.5%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 14px; background:#055223; color:#fff; padding-top: 7px;}
	.title_ins {margin: 5px 0 30px 0;}
	#normal {font-family: 'NotoSansKR-Regular'; font-size: 14px;}
	#m_br {display: none;}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';font-size: 13px;}
	#grape {width: 100%; margin: 10px 0 10px 0;}
	.after1 {font-family: 'NotoSansKR-Medium'; margin-top: 20px; font-size: 14px;}
	.img2 {margin-bottom: 20px;}
	.img2 > img {width: 100%;}
	#br_img1 {margin-bottom:1%;}
	.img3 > img {width: 100%;}
	.grape_title {font-size: 13px;}

	#normal {font-family: 'NotoSansKR-Regular';}

	.btn_list {text-align: center; margin: 20px 0 25px 0;}
	.btn_list a {display: block; font-size: 15px; padding: 8px 0; border: 2px solid #828282; margin: 0 auto; width: 50%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}
	

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#pt_br {display: none;}



}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 200px;; margin-top: 70px; background:url("../images/case_banner_t.png")no-repeat; margin-bottom: 40px;}


	.appin_title {text-align: center; font-size: 16px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 24px;color:#151515; padding-bottom: 30px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 30px;}
	
	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 18px; line-height: 1.8; margin: 20px 0 0 0;}
	.products .before {position: relative; float:left; width: 24.5%; margin-right: 1%;}
	.products .after {position: relative; float:left; display: inline-block; width: 74.5%;}
	.products .after .after01 {float:left; width: 33.3%;}
	.products .after .after02 {float:left; width: 33.3%;}
	.products .after .after03 {float:left; width: 33.3%;}
	.img2_title {width: 100%; padding: 10px 0; background: #f7f7f7;  font-family: 'NotoSansKR-Medium';margin: 0 auto; font-size: 15px;border-right: 1px solid #ddd;border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
	.products .img #img {width:100%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 15px; background:#055223; color:#fff; padding-top: 7px;}
	.title_ins {margin: 5px 0 35px 0;}
	#normal {font-family: 'NotoSansKR-Regular'; font-size: 15px;}
	#m_br {display: none;}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';font-size: 15px;}
	#grape {width: 70%; margin: 20px 0 20px 0;}
	.after1 {margin: 0 auto;width: 200px; padding: 8px 0; background:#fff; border: 1px solid #828282; font-family: 'NotoSansKR-Medium'; border-radius: 30px;font-size: 15px;}
	.img2 {float: left; width: 49.5%; margin-right: 1%;}
	.img2 > img {float: left; width: 50%;}
	.img3 {float: left; width: 49.5%; margin: 0 auto 30px auto;}
	.img3 > img {float: left; width: 50%;}
	.grape_title {font-size: 15px;}

	.btn_list {text-align: center; margin: 40px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 25%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}

}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	/* ------------------------------------------------ section.sec_visual ------------------------------------------------*/
	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 330px;; margin-top: 100px; background:url("../images/case_banner.png")no-repeat; margin-bottom: 70px; background-size:100%;}

	.appin_title {text-align: center; font-size: 18px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 32px;color:#151515; padding-bottom: 50px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 50px;}


	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 18px; line-height: 1.8; margin: 40px 0 10px 0;}
	.products .before {position: relative; float:left; width: 24.5%; margin-right: 1%;}
	.products .after {position: relative; float:left; display: inline-block; width: 74.5%;}
	.products .after .after01 {float:left; width: 33.3%;}
	.products .after .after02 {float:left; width: 33.3%;}
	.products .after .after03 {float:left; width: 33.3%;}
	.img2_title {width: 100%; padding: 10px 0; background: #f7f7f7;  font-family: 'NotoSansKR-Medium';margin: 0 auto; border-right: 1px solid #ddd;border-left: 1px solid #ddd;border-top: 1px solid #ddd;}
	.products .img #img {width:100%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 17px; background:#055223; color:#fff; padding-top: 7px;}
	.title_ins {margin: 0 0 60px 0;}
	#normal {font-family: 'NotoSansKR-Regular';}
	#m_br {display: none;}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}
	#grape {width: 50%; margin: 40px 0 40px 0;}
	.after1 {margin: 0 auto;width: 200px; padding: 10px 0; background:#fff; border: 1px solid #828282; font-family: 'NotoSansKR-Medium'; border-radius: 30px;}
	.img2 {float: left; width: 49.5%; margin-right: 1%;}
	.img2 > img {float: left; width: 50%;}
	.img3 {float: left; width: 49.5%; margin: 0 auto 50px auto;}
	.img3 > img {float: left; width: 50%;}

	.btn_list {text-align: center; margin: 80px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 15%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
 
}
}
/*--------   Desktop(end)   -----*/
