@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 148px;; margin-top: 70px; background:url("../images/case_banner_m.png")center center no-repeat; margin-bottom: 30px;}


	.appin_title {text-align: center; font-size: 14px; padding-bottom: 2px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 16px;color:#151515; padding-bottom: 20px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 20px;}

	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 14px; margin: 20px 0 20px 0;}
	.products1_title_en {font-family: 'NotoSansKR-Regular'; font-size: 13px; color:#828282; margin-left: 10px;}
	.products .img1 {margin-bottom: 10px;}
	.products .img2 {margin-bottom: 10px;}
	.products .img3 {margin-bottom: 10px;}
	.products .img img {width:100%;}
	.products1_in {font-size: 13px;}
	.products1_in #list {margin-right: 10px;}
	.products1_in img {vertical-align: middle;}
	.products1_in2 {font-size: 13px;margin-top: 20px;}
	#bold {font-family: 'NotoSansKR-Medium';}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}
	#pc {display: none;}

	.btn_list {text-align: center; margin: 20px 0 25px 0;}
	.btn_list a {display: block; font-size: 15px; padding: 8px 0; border: 2px solid #828282; margin: 0 auto; width: 50%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}
	

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#pt_br {display: none;}



}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 200px;; margin-top: 70px; background:url("../images/case_banner_t.png")no-repeat; margin-bottom: 40px;}


	.appin_title {text-align: center; font-size: 16px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 24px;color:#151515; padding-bottom: 30px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 30px;}
	
	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 15px; line-height: 1.8; margin: 30px 0 20px 0;}
	.products1_title_en {font-family: 'NotoSansKR-Regular'; font-size: 14px; color:#828282; margin-left: 10px;}
	.products .img1 {display: inline-block; width: 24.5%;}
	.products .img2 {display: inline-block;width:  24.5%;}
	.products .img3 {display: inline-block;width:  24.5%;}
	.products .img4 {display: inline-block;width:  24.5%;}
	.products .img img {width:100%;}
	.products1_in {font-size: 15px;}
	.products1_in #list {margin-right: 10px;}
	.products1_in img {vertical-align: middle;}
	.products1_in2 {font-size: 15px;margin-top: 20px;}
	#bold {font-family: 'NotoSansKR-Medium';}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}

	.btn_list {text-align: center; margin: 40px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 25%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}

}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	/* ------------------------------------------------ section.sec_visual ------------------------------------------------*/
	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 330px;; margin-top: 100px; background:url("../images/case_banner.png")no-repeat; margin-bottom: 70px; background-size:100%;}

	.appin_title {text-align: center; font-size: 18px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 32px;color:#151515; padding-bottom: 50px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 50px;}

	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 18px; line-height: 1.8; margin: 40px 0 40px 0;}
	.products1_title_en {font-family: 'NotoSansKR-Regular'; font-size: 16px; color:#828282; margin-left: 10px;}
	.products .img1 {display: inline-block; width: 24.5%;}
	.products .img2 {display: inline-block;width:  24.5%;}
	.products .img3 {display: inline-block;width:  24.5%;}
	.products .img4 {display: inline-block;width:  24.5%;}
	.products .img img {width:100%;}
	.products1_in #list {margin-right: 10px;}
	.products1_in img {vertical-align: middle;}
	.products1_in2 {margin-top: 30px;}
	#bold {font-family: 'NotoSansKR-Medium';}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}


	.btn_list {text-align: center; margin: 80px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 15%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
 
}
}
/*--------   Desktop(end)   -----*/
