@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 148px;; margin-top: 70px; background:url("../images/case_banner_m.png")center center no-repeat; margin-bottom: 30px;}


	.appin_title {text-align: center; font-size: 14px; padding-bottom: 2px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 16px;color:#151515; padding-bottom: 20px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 20px;}

	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 14px; line-height: 1.8; margin: 20px 0;}
	.products .before {position: relative; display: inline-block; width: 100%; margin-bottom: 5px;}
	.products .after {position: relative; width: 100%;margin-bottom: 5px;}
	.products .befores {margin-bottom: 5px;}
	.products .afters {margin-bottom: 5px;}
	.products .beforess {margin-bottom: 5px;}
	.products .afterss {margin-bottom: 5px;}
	.before2 {margin-bottom: 10px;}
	.products .img img {width:100%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 14px; background:#055223; color:#fff; padding-top: 7px;}
	#normal {font-family: 'NotoSansKR-Regular';}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}

	.btn_list {text-align: center; margin: 20px 0 25px 0;}
	.btn_list a {display: block; font-size: 15px; padding: 8px 0; border: 2px solid #828282; margin: 0 auto; width: 50%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}
	

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#pt_br {display: none;}
	#pt_img {display: none;}



}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 200px;; margin-top: 70px; background:url("../images/case_banner_t.png")no-repeat; margin-bottom: 40px;}


	.appin_title {text-align: center; font-size: 16px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 24px;color:#151515; padding-bottom: 30px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 30px;}
	
	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 15px; line-height: 1.8; margin: 20px 0;}
	.products .before {position: relative; display: inline-block; width: 32%;}
	.products .after {position: relative; display: inline-block; width: 32%;}
	.products .img img {width:100%;}
	.products .befores {position: relative; display: inline-block; width: 24%;}
	.products .afters {position: relative; display: inline-block; width: 24%;}
	.products .beforess {position: relative; display: inline-block; width: 24%; margin-top: 0.3%;}
	.products .afterss {position: relative; display: inline-block; width: 24%;}
	.products .before2 {position: relative; display: inline-block; width: 80%; margin-bottom: 1%;}
	.products .after2 {position: relative; display: inline-block; width: 80%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 15px; background:#055223; color:#fff; padding-top: 7px;}
	#normal {font-family: 'NotoSansKR-Regular';}
	#m_br {display: none;}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}

	.btn_list {text-align: center; margin: 40px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 25%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}
	#m_img {display: none;}

}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	/* ------------------------------------------------ section.sec_visual ------------------------------------------------*/
	.app_in { width: 100%;}
	.app_in .app_banner { position: relative; height: 330px;; margin-top: 100px; background:url("../images/case_banner.png")no-repeat; margin-bottom: 70px; background-size:100%;}

	.appin_title {text-align: center; font-size: 18px; padding-bottom: 5px; color:#151515;}
	.appin_title2 {text-align: center;font-family: 'NotoSansKR-Medium'; font-weight: bold; font-size: 32px;color:#151515; padding-bottom: 50px;}
	.line {width: 100%; height: 1px; background:#ddd; margin-bottom: 50px;}

	.products {text-align: center;}
	.products .products1_title {font-family: 'NotoSansKR-Medium'; font-size: 18px; line-height: 1.8; margin: 40px 0;}
	.products .before {position: relative; display: inline-block; width: 32%;}
	.products .after {position: relative; display: inline-block; width: 32%;}
	.products .befores {position: relative; display: inline-block; width: 24%;}
	.products .afters {position: relative; display: inline-block; width: 24%;}
	.products .beforess {position: relative; display: inline-block; width: 24%; margin-top: 0.3%;}
	.products .afterss {position: relative; display: inline-block; width: 24%;}
	.products .before2 {position: relative; display: inline-block; width: 80%; margin-bottom: 1%;}
	.products .after2 {position: relative; display: inline-block; width: 80%;}
	.products .img img {width:100%;}
	.titlein {position: absolute; top: 0; left: 0; padding: 8px 15px; font-size: 17px; background:#055223; color:#fff; padding-top: 7px;}
	#normal {font-family: 'NotoSansKR-Regular';}
	#m_br {display: none;}
	#color {color:#c31b1b; font-family: 'NotoSansKR-Medium';}

	.btn_list {text-align: center; margin: 80px 0;}
	.btn_list a {display: block; padding: 13px 0; border: 2px solid #828282; margin: 0 auto; width: 15%; border-radius: 25px;}
	.btn_list:hover a {border: 2px solid #185c37; color: #fff;  background: #185c37; transition: color 0.2s linear 0s;   transition: background 0.2s linear 0s;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
	#m_img {display: none;}
 
}
}
/*--------   Desktop(end)   -----*/
