@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {

	.app { width: 100%;}
	.app .app_banner { position: relative; height: 148px;; margin-top: 70px; background:url("../images/case_banner_m.png")center center no-repeat; }
	.app .title {text-align: center; padding: 30px 0;}
	.app .title > span {position: relative; z-index: 0; font-size: 16px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.app .title > span::after {content:""; background-color: #76e863; width: 15px; height: 15px; position: absolute; z-index: -1; top: -2px; left: -7px;}

	#number {font-size: 14px;}
	.app_products {padding: 30px 0 0 0;}
	.app_products #app_img {width: 100%;}
	.app_products #more {display: block; text-align: right; margin-top: 20px;}
	.app_products #more img {width: 9%;}
	.app_products #more2 {display: block; text-align: right; margin-top: 40px;}
	.app_products #more2 img {width: 9%;}
	.app_title {padding: 20px 0; font-size: 17px; font-weight: 900;}
	.app_title_en {color:#151515; font-size: 14px;}

	.app_case1 {margin-bottom: 10px;}
	.app_case2 {margin-bottom: 10px;}
	.app_case3 {margin-bottom: 10px;}
	.app_case4 {margin-bottom: 10px;}
	.app_case5 {margin-bottom: 10px;}
	.app_case6 {margin-bottom: 10px;}
	.app_case7 {margin-bottom: 10px;}
	.app_case8 {margin-bottom: 10px;}
	.app_case9 {margin-bottom: 10px;}
	.app_case10 {display: none; margin-bottom: 10px;}
	.app_case11 {margin-bottom: 10px;}
	.app_case12 {margin-bottom: 10px;}
	.app_case13 {margin-bottom: 10px;}
	.app_case14 {margin-bottom: 10px;}
	.btn_page {padding: 10px 0 40px 0; text-align: center; font-size: 17px;}
	.btn_page img {width:16px; vertical-align: middle;}
	.btn_page .number {padding:0 25px;}
	#page_bg1 {display: inline-block; padding: 7px 14px; border-radius:50%; background:#055223; color:#fff; font-size: 15px;}
	#duble {margin-right:2%;}
	

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}
	#pt_br {display: none;}



}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	.app { width: 100%;}
	.app .app_banner { position: relative; height: 200px;; margin-top: 70px; background:url("../images/case_banner_t.png")center center no-repeat; }
	.app .title {text-align: center; padding: 40px 0;}
	.app .title > span {position: relative; z-index: 0; font-size: 18px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.app .title > span::after {content:""; background-color: #76e863; width: 20px; height: 20px; position: absolute; z-index: -1; top: 0px; left: -12px;}

	#number {font-size: 15px;}
	.app_products {padding: 30px 0 0 0;}
	.app_products #app_img {width: 100%;}
	.app_products #more {display: block; text-align: right; margin-top: 30px;}
	.app_products #more img {width: 9%;}
	.app_products #more2 {display: block; text-align: right; margin-top: 50px;}
	.app_products #more2 img {width: 9%;}
	.app_title {padding: 20px 0; font-size: 18px; font-weight: 900;}
	.app_title_en {color:#151515; font-size: 14px;}

	.app_case1 {float: left; margin-right: 2%; width: 49%;margin-bottom: 30px;overflow: hidden;}
	.app_case2 {float: left; width: 49%; margin-bottom: 30px;}
	.app_case3 {float: left; margin-right: 2%; width: 49%; margin-bottom: 30px;}
	.app_case4 {float: left; width: 49%; margin-bottom: 30px;}
	.app_case5 {float: left; margin-right: 2%; width: 49%; margin-bottom: 30px;}
	.app_case6 {float: left; width: 49%; margin-bottom: 30px;}
	.app_case7 {float: left; margin-right: 2%; width: 49%; }
	.app_case8 {float: left; width: 49%; margin-bottom: 30px;}
	.app_case9 {float: left; margin-right: 2%; width: 49%; }
	.app_case10 {float: left; width: 49%;margin-bottom: 30px;}
	.app_case11 {float: left; margin-right: 2%; width: 49%; }
	.app_case12 {float: left; width: 49%;margin-bottom: 30px;}
	.app_case13 {float: left; margin-right: 2%; width: 49%; }
	.app_case14 {float: left; width: 49%;}
	.btn_page {padding: 20px 0 50px 0; text-align: center; font-size: 17px;}
	.btn_page img {width:16px; vertical-align: middle;}
	.btn_page .number {padding:0 20px;}
	#page_bg1 {margin-right:1%; display: inline-block; padding: 7px 14px; border-radius:50%; background:#055223; color:#fff; font-size: 15px;}
	#duble {margin-right:0.5%;}



	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}
	#m_br {display: none;}

}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	/* ------------------------------------------------ section.sec_visual ------------------------------------------------*/
	.app { width: 100%;}
	.app .app_banner { position: relative; height: 330px;; margin-top: 100px; background:url("../images/case_banner.png")no-repeat; background-size: 100%;}
	.app .title {text-align: center; padding: 70px 0;}
	.app .title > span {position: relative; z-index: 0; font-size: 26px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.app .title > span::after {content:""; background-color: #76e863; width: 20px; height: 20px; position: absolute; z-index: -1; top: 0px; left: -12px;}
	
	.app_products {padding: 50px 0 0 0;}
	.app_products #app_img {width: 100%;}
	.app_products #more {display: block; text-align: right; margin-top: 30px;}
	.app_products #more img {width: 9%;}
	.app_products #more2 {display: block; text-align: right; margin-top: 50px;}
	.app_products #more2 img {width: 9%;}
	.app_title {padding: 30px 0; font-size: 24px; font-weight: 900;}
	.app_title_en {color:#151515; font-size: 15px;}

	.app_case1 {float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;overflow: hidden;}
	.app_case2 {float: left; margin-right: 2%; width: 32%; margin-bottom: 80px;}
	.app_case3 {float: left; width: 32%; margin-bottom: 80px;}
	.app_case4 {float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;}
	.app_case5 {float: left; margin-right: 2%; width: 32%; margin-bottom: 80px;}
	.app_case6 {float: left; width: 32%; margin-bottom: 80px;}
	.app_case7 {float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;}
	.app_case8 {float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;}
	.app_case9 {float: left; width: 32%;margin-bottom: 80px;}
	.app_case10 {display: none; float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;}
	.app_case11 {float: left; margin-right: 2%; width: 32%;margin-bottom: 80px;}
	.app_case12 {float: left; width: 32%;margin-bottom: 80px;}
	.app_case13 {float: left; margin-right: 2%; width: 32%;}
	.app_case14 {float: left; margin-right: 2%; width: 32%;}
	.btn_page {padding: 0 0 100px 0; text-align: center; font-size: 17px;}
	.btn_page img {width:16px; vertical-align: middle;}
	.btn_page .number {padding:0 20px;}
	#page_bg1 {display: inline-block; padding: 7px 15px; border-radius:50%; background:#055223; color:#fff;}
	#duble {margin-right:0.5%;}



	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }


	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
	#m_br {display: none;}
 
}
}
/*--------   Desktop(end)   -----*/
