@charset "utf-8";
/*CSS Document*/

/*++++++++  Media Query  ++++++++*/
/*------- Mobile(start)  -----*/
@media screen and (max-width: 767px) {

	.map { width: 100%;}
	.map .map_banner { position: relative; height: 148px; margin-top: 70px; background:url("../images/map_banner.png")center center no-repeat; }
	.map .title {text-align: center; padding: 30px 0;}
	.map .title > span {position: relative; z-index: 0; font-size: 16px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.map .title > span::after {content:""; background-color: #76e863; width: 15px; height: 15px; position: absolute; z-index: -1; top: -2px; left: -7px;}
	.inner_wrap2 {padding-bottom: 30px;}
	/*office*/
	.office .office_icon {float: left; padding-right: 5px;}
	.office span img {width: 20px; vertical-align:sub;}
	.office .office_title {font-size: 14px; font-family: 'NotoSansKR-Medium'; font-weight: bold; margin-bottom: 30px; }
	#intro {font-size: 14px; font-family: 'NotoSansKR-Medium'; font-weight: bold; color: #000;} 
	.intro_en {font-size: 14px; color: #666;margin-bottom: 8px;}
	.intro_en2 {font-size: 14px; color: #666;margin-bottom: 8px; margin-bottom: 30px;}
	.line {width: 100%; height: 1px; background: #dedede;}
	.laboratory {padding: 30px 0;}
	#pc_map {display: none;}

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 30px;}



}
/*------  Mobile(end)  ----*/

/*+++++++++++++++++++++++++++++++*/
/*-------   Tablet(start)   -----*/
@media screen and (min-width: 768px) and (max-width: 1024px) { 

	.map { width: 100%;}
	.map .map_banner { position: relative; height: 200px; margin-top: 70px; background:url("../images/map_banner.png")center center no-repeat; }
	.map .title {text-align: center; padding: 40px 0;}
	.map .title > span {position: relative; z-index: 0; font-size: 18px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.map .title > span::after {content:""; background-color: #76e863; width: 20px; height: 20px; position: absolute; z-index: -1; top: 0px; left: -12px;}
	.inner_wrap2 {padding-bottom: 50px;}
	/*office*/
	.office .office_icon {float: left; padding-right: 10px;}
	.office span img {width: 28px;}
	.office .office_title {font-size: 20px; font-family: 'NotoSansKR-Medium'; font-weight: bold; margin-bottom: 30px; }
	#intro {font-size: 16px; font-family: 'NotoSansKR-Medium'; font-weight: bold; color: #000;} 
	.intro_en {font-size: 16px; color: #666;margin-bottom: 15px;}
	.intro_en2 {font-size: 16px; color: #666;margin-bottom: 15px; margin-bottom: 50px;}
	.line {width: 100%; height: 1px; background: #dedede;}
	.laboratory {padding: 50px 0;}
	#pc_map {display: none;}

	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 35px;}

}
/*---------   Tablet(end)   ----*/

/*++++++++++++++++++++++++++++++++*/
/*-------   Desktop(start)   -----*/
@media screen and (min-width: 1025px) {
	/* ------------------------------------------------ section.sec_visual ------------------------------------------------*/
	.map { width: 100%;}
	.map .map_banner { position: relative; height: 330px;; margin-top: 100px; background:url("../images/map_banner.png")no-repeat;background-size: 100%; }
	.map .title {text-align: center; padding: 70px 0;}
	.map .title > span {position: relative; z-index: 0; font-size: 26px; font-family: 'NotoSansKR-Medium'; font-weight: bold;}
	.map .title > span::after {content:""; background-color: #76e863; width: 20px; height: 20px; position: absolute; z-index: -1; top: 0px; left: -12px;}
	.inner_wrap2 {padding-bottom: 50px;}
	/*office*/
	.office .office_icon {float: left; padding-right: 10px;}
	.office span img {width: 28px;}
	.office .office_title {font-size: 20px; font-family: 'NotoSansKR-Medium'; font-weight: bold; margin-bottom: 30px; }
	#intro {font-size: 16px; font-family: 'NotoSansKR-Medium'; font-weight: bold; color: #000;} 
	.intro_en {font-size: 16px; color: #666;margin-bottom: 15px;}
	.intro_en2 {font-size: 16px; color: #666;margin-bottom: 15px; margin-bottom: 50px;}
	.line {width: 100%; height: 1px; background: #dedede;}
	.laboratory {padding: 50px 0;}
	#m_map {display: none;}

	/*scroll_event*/
	#move01 { opacity: 0; margin-top: 8%; }
	#move02 { opacity: 0; margin-top: 5%; }
	#move03 { opacity: 0; margin-top: 3%; }
	


	/*scroll_btn*/
	#scroll_btn {position: fixed; bottom: 5px; right: 5px;}
	#scroll_btn img {width: 40px;}
 
}
}
/*--------   Desktop(end)   -----*/
